body{
    background-image: url("../images/ter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url("../images/marteau.jpg");
    max-width: 1000px;
  
}

.container{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
 /* margin-top: 30px;*/
  }

  .top{
    height: 200px;
    width: 200px;
    background-color: #757272;
    border-radius: 50%;
    border: 1px solid black;
    /*background-image: url("../images/11.png");

    width:200px; 
    height:150px;*/
    background-repeat: no-repeat;
    margin-left: 60px;
    margin-right: 60px;
  }

 .taupe{
    
    /*height: 200px;
    width: 200px;
    background-color: #757272;
    border-radius: 50%;
    border: 1px solid black;*/
    width: 200px;
    height: 150px;
    background-image: url("../images/17.png");
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -40px;
  }
  #count{
    color: red;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 15px;
  }
 /*
#img{
    width:800px;
     height: 700px;
     cursor: url(../images/marteau.jpg);
}

  #im{
    position: absolute;
    left: -150px;
    top: -750px; 
}
  .dot {
   height: 100px;
    width: 100px;
    background-color: #757272;
    border-radius: 50%;
    border: 1px solid black;

    
    width:100px; 
    height:100px;
    display: inline-block;
    
  }*/
  .dott{
    width: 200px;
    height: 150px;
    
    
    /*height: 50px;
    width: 50px;
    border: 1px solid black;
    background: #000;*/
    
    background-image: url("images/11.png");
    background-repeat: no-repeat;

    margin-left: 60px;
    margin-right: 60px;
    
}
/*

   p:hover {
        width: 150px;
        height: 80px;
  }
p{
    position: absolute;
    left: 0px;
    top: 500px;
}*/
 /*.topp{
    border: 1px solid black;
  }
  .mid{
    border: 1px solid black;
  }*/